body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins', 'Courier New',
    monospace;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#brand-logo{
  width: 10rem;
}

#shop-title{
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#nav-icons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* justify-content: space-around; */
  cursor: pointer;
  padding-right: 2rem;
}

.intro-block{
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
}

#walk{
  padding-right: 5%;
  width: 80%;
}

#intro-text{
  width: 30rem;
  padding-top: 10rem;
}

.intro-block-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.shop-now{
  width: 15rem;
}

.products-grid{
  /* border: 1px solid black; */
  overflow: hidden;
}

.product{
  width: 15rem;
  max-width: 20rem;
  cursor: pointer;
}

.product img{
  border: 1px solid black;
  width: inherit;
}

.product-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.product-text h3{
  font-size: 1.1rem;
}

.product-text h4{
  font-size: 1rem;
  font-weight: 700;
}

#product-page-preview{
  width: 30rem;
  border: 1px solid black;
}

.product-page-text{
  display: flex;
  flex-direction: column;
  float: right;
  width: 20rem;
  align-items: center;
  justify-content: space-between;
}

.product-page-header{
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: center;
  justify-content: space-between;
}

.product-page-body{
  width: inherit;
}

.gallery-images{
  width: 5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.add-to-cart {
  width: inherit;
}

.remove-from-cart {
  width: inherit;
}

.cart-filled{
  color: green;
}

.cart-empty{
  color:black;
}

.cart-page{
  display: grid;
  grid-template-areas: 'products products products products summary';
}

.product-container{
  grid-area: products;
}

.summary {
  grid-area: summary;
  text-align:right;
}

.product-in-cart{
  width: 5rem;
}

.checkout-btn{
  width: inherit;
}